@inherits LayoutComponentBase

<PageTitle>Validation</PageTitle>

<div class="page bg-dark" style="height: 100vh">
     <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
